/*{
    margin:0;
    padding:0;
    font-family: 'Droid-serif', sans-serif;
}
.topnav{
    background-color: #ffffff;
    overflow: hidden;
    box-shadow:0px 2px 2px rgb(175, 174, 174);
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center ;
}
nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: purple;
    display: block;
    margin: auto;
    transition: 0.4s;

}

.nav-links ul li:hover::after{
    width: 100%;


<<<<<<< HEAD
}

.toggle-button{
  position:absolute;
  top: 0.75rem;
  right:1rem;
  display:none;
  flex-direction: column;
  justify-content: space-between;
  width:30px;
  height:21px;
}

.toggle-button .bar{
  height:3px;
  width:100%;
  background-color: #592a51;
  border-radius: 10px;


}

@media (max-width:600px){
  .toggle-button{


    
    display:flex;
  }

  .nav-links{
    display:none;
    width:100%
  
  }

  .topnav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul{
    width: 100%;
    flex-direction: column;
  }

  .nav-links li{
    text-align:center
  }

  .nav-links.active{
    display:flex;

  }


  


/*.topnav{
=======
}*/
.topnav{
>>>>>>> 58cced456af3577945778d46175247ec8e152c41
    background-color: #ffffff;
    overflow: hidden;
    box-shadow:0px 2px 2px rgb(175, 174, 174);
}
.topnav .navv a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 25px 8px;
    font-size: 15px;
}

.topnav .icon{
    display: none;
}
.ourteam , .expertise , .careers {
    float: right;
    overflow: hidden;
}
.ourteam .ourteambtn , .expertise .expertisebtn , .careers .careersbtn {
    font-size: 15px;
    color: black;
    background-color:inherit;
    border: none;
    font-family: 'Droid Serif', serif;
    padding: 25px 8px;
    margin:0;
}
.ourteam-content , .expertise-content , .careers-content {
    display: none;
    position: absolute;
    box-shadow:  0px 8px 16px 0px black;
    min-width: 160px;
    background-color: #f9f9f9;
    z-index: 1;
}
.ourteam-content a , .expertise-content a , .careers-content a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: center;

}
.topnav .navv a:hover , .ourteam:hover .ourteambtn , .expertise:hover .expertisebtn , .careers:hover .careersbtn {
    background-color: black;
    color: white;
}
.ourteam-content a:hover , .expertise-content a:hover , .careers-content a:hover {
    background-color: #ddd;
    color: black;
    
}

 .ourteam:hover .ourteam-content ,.expertise:hover .expertise-content,.careers:hover .careers-content {
    display: block;
  

 }


.search-bar{
    width: 100%;
    max-width: 300px;
    background: rgba(33, 31, 31, 0.427);
    display: inline;
    border-radius: 60px;
    padding: 5px;
    backdrop-filter: blur(4);
    margin-left: 100px;

}
.search-bar input{
    background:transparent;
    flex: 1;
    border:none;
    outline: none;
    padding: 20px 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.search-bar img {
  margin: 0px 5px 5px 0;
  
}

::placeholder {
    color:#950e9076;
}
.search-bar button img {
    width: 20px;
}
.search-bar button {
    height: 10px;
    width: 10x;
    border: none;
    outline: none;
    background-color: initial;
    border-radius: 50%;
    cursor: pointer;

}
.navlogo {
 margin: 10px;
}
/*------------code here to make the nav responsive ------------*/
 

 /*--------------code here to make the nav responsive-------------- */

.testimonial-background{
  background-image: linear-gradient( rgba(4, 9, 30, 0.7), rgba(225, 225, 225, 0.1)),url('\gavel_3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: luminosity;
  font-family: 'Lato', sans-serif;
  color: white;
    
}

 
 h1 {
   font-size: 60px;
   text-align: center;
   padding-top: 100px;
 }
 .source{
  font-weight: 700;
  font-size: 30px;
 }
 .content-slider {  /*the size of the testimonial box*/
   width: 100%;
   height: 250px;
 }
 
 .slider {
   height: 250px;
   width: 680px;
   margin: 40px auto 0;
   overflow: visible;  /*Content is clipped if necessary to fit the padding box. */
   position: relative; 
 }
 
 .mask {                /*The scrolled text start to be visible after "What Client Says" text*/
   overflow: hidden;
   height: 250px;
 }
 
 .slider ul {
   margin: 0;
   padding: 0;
   position: relative;
 }
 
 .slider li {
   width: 680px;
   height: 320px;
   position: absolute;
   top: -325px;
   list-style: none;
 }
 
 .slider .quote {
   font-size: 40px;
   font-style: italic;
 }
 
 .slider .source {
   font-size: 20px;
   text-align: right;
 }
 
 .slider li.anim1 {
   animation: cycle 15s linear infinite; /*The cycle is 15s, plays in linear position for infinite times*/
 }
 
 .slider li.anim2 {
   animation: cycle2 15s linear infinite;
 }
 
 .slider li.anim3 {
   animation: cycle3 15s linear infinite;
 }
 
 .slider li.anim4 {
   animation: cycle4 15s linear infinite;
 }
 
 .slider li.anim5 {
   animation: cycle5 15s linear infinite;
 }
 
 .slider:hover li {
   animation-play-state: paused; /*Pause the animation when hovering*/
 }
 
 @keyframes cycle { /*Create the animation where the set of css changes gradually from one position to another*/
   0% { /*Percentage of the animation 0% indicates the start of the animation*/
     top: 0px;
   }
   4% {
     top: 0px;
   }
   16% {
     top: 0px;
     opacity: 1;
     z-index: 0;
   }
   20% {
     top: 325px;
     opacity: 0;
     z-index: 0;
   }
   21% {
     top: -325px;
     opacity: 0;
     z-index: -1;
   }
   50% {
     top: -325px;
     opacity: 0;
     z-index: -1;
   }
   92% {
     top: -325px;
     opacity: 0;
     z-index: 0;
   }
   96% {
     top: -325px;
     opacity: 0;
   }
   100% {
     top: 0px;
     opacity: 1;
   }
 }
 
 @keyframes cycle2 {
   0% {
     top: -325px;
     opacity: 0;
   }
   16% {
     top: -325px;
     opacity: 0;
   }
   20% {
     top: 0px;
     opacity: 1;
   }
   24% {
     top: 0px;
     opacity: 1;
   }
   36% {
     top: 0px;
     opacity: 1;
     z-index: 0;
   }
   40% {
     top: 325px;
     opacity: 0;
     z-index: 0;
   }
   41% {
     top: -325px;
     opacity: 0;
     z-index: -1;
   }
   100% {
     top: -325px;
     opacity: 0;
     z-index: -1;
   }
 }
 
 @keyframes cycle3 {
   0% {
     top: -325px;
     opacity: 0;
   }
   36% {
     top: -325px;
     opacity: 0;
   }
   40% {
     top: 0px;
     opacity: 1;
   }
   44% {
     top: 0px;
     opacity: 1;
   }
   56% {
     top: 0px;
     opacity: 1;
     z-index: 0;
   }
   60% {
     top: 325px;
     opacity: 0;
     z-index: 0;
   }
   61% {
     top: -325px;
     opacity: 0;
     z-index: -1;
   }
   100% {
     top: -325px;
     opacity: 0;
     z-index: -1;
   }
 }
 
 @keyframes cycle4 {
   0% {
     top: -325px;
     opacity: 0;
   }
   56% {
     top: -325px;
     opacity: 0;
   }
   60% {
     top: 0px;
     opacity: 1;
   }
   64% {
     top: 0px;
     opacity: 1;
   }
   76% {
     top: 0px;
     opacity: 1;
     z-index: 0;
   }
   80% {
     top: 325px;
     opacity: 0;
     z-index: 0;
   }
   81% {
     top: -325px;
     opacity: 0;
     z-index: -1;
   }
   100% {
     top: -325px;
     opacity: 0;
     z-index: -1;
   }
 }
 
 @keyframes cycle5 {
   0% {
     top: -325px;
     opacity: 0;
   }
   76% {
     top: -325px;
     opacity: 0;
   }
   80% {
     top: 0px;
     opacity: 1;
   }
   84% {
     top: 0px;
     opacity: 1;
   }
   96% {
     top: 0px;
     opacity: 1;
     z-index: 0;
   }
   100% {
     top: 325px;
     opacity: 0;
     z-index: 0;
   }
 }
/* contact us form */
/* contact us form */


#contact-us-form {
  margin: 25px auto !important;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
  font-size: 15px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
 
}

#contact-us-form div {
  margin: 0 auto 10px;
  width: 100%;
  
}

#contact-us-form input:focus {
  
  box-shadow: none;
  border: 1px solid #686565;
}


#contact-us-form textarea, input {
  outline: 1px solid #686565;
}

#contact-us-form textarea {
  margin-top: 10px;
  resize: none;
  height: 150px;
}

#contact-us-form textarea:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #686565;
}




#contact-us-form button {
  display: block;
  width: 5rem;
  margin: 0 auto;
  background-color: rgb(0,0,0);
  border: 0;
  color: rgb(255,255,255);
  border-radius: 5px;
  padding: 5px;
}


/*-------footer------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


footer{
  background: #592a51;
  height: auto;
  width: 100vw;
  padding-top: 20px;
  color: white;

}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 14px;

}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 20px;
}

.socials a{
  text-decoration: none;
  color: white;
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}

.socials a:hover i{
  color: rgb(60, 179, 179);
}

.footer-bottom{
  background: hsl(310, 36%, 23%);
  
}
}